button {
  cursor: pointer;
}

.flex {
  display: flex;
  margin: 0;
}

.flex.margin {
  margin-bottom: 20px;
}

#scoreboard {
  border: 2px solid red;
  border-radius: 4px;
  width: 80%;
}

.scoreboard-row > div.flex {
  display: flex;
}

.scoreboard-row > div {
  display: inline-block;
  border: 1px solid #ccc;
}

.scoreboard-row > .category {
  width: 40%;
}

.scoreboard-row > .scoring {
  width: 30%;
}

.scoreboard-row > .player-score {
  width: 20%;
}





#btn-group {
  justify-content: space-around;
}

#roll-btn {
  /* margin: 0 auto; */
}

.hold {
  background-color: #ccc;
}

.y-bonus {
  width: 33%;
  border-right: 1px solid #ccc;
}

.y-bonus:last-child {
 border: none; 
}

#dice-board {
  border: 3px solid red;
  border-radius: 3px;
}

.dice {
 display: inline-flex;
 width: 40px;
 height: 40px;
 justify-content: center;
 margin: 0 auto;
 background-size: cover;
}

.dice.dot1 {
  background-image: url('../images/one.png');
}

.dice.dot2 {
  background-image: url('../images/two.png');
  /* background-size: cover; */
}

.dice.dot3 {
  background-image: url('../images/three.png');
  /* background-size: cover; */
}

.dice.dot4 {
  background-image: url('../images/four.png');
  /* background-size: cover; */
}

.dice.dot5 {
  background-image: url('../images/five.png');
  /* background-size: cover; */
}

.dice.dot6 {
  background-image: url('../images/six.png');
  /* background-size: cover; */
}