button {
  cursor: pointer;
}

.flex {
  display: flex;
  margin: 0;
}

.flex.margin {
  margin-bottom: 20px;
}

#scoreboard {
  border: 2px solid red;
  border-radius: 4px;
  width: 80%;
}

.scoreboard-row > div.flex {
  display: flex;
}

.scoreboard-row > div {
  display: inline-block;
  border: 1px solid #ccc;
}

.scoreboard-row > .category {
  width: 40%;
}

.scoreboard-row > .scoring {
  width: 30%;
}

.scoreboard-row > .player-score {
  width: 20%;
}

#dice-board {
   border: 3px solid red;
   border-radius: 3px;
}

.dice {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#btn-group {
  justify-content: space-around;
}

#roll-btn {
  /* margin: 0 auto; */
}

.hold {
  background-color: #ccc;
}

.y-bonus {
  width: 33%;
  border-right: 1px solid #ccc;
}

.y-bonus:last-child {
 border: none; 
}
